<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 
     <nav>
         <div class="nav-wrapper">
           <a href="#" class="brand-logo right">Portfolio</a>
           <ul id="nav-mobile" class="left hide-on-med-and-down">
             <li><a href="/">Tanveer Kalia</a></li>
             <li><a href="/table">Table</a></li>
           
             
           </ul>
         </div>
       </nav>
  </head>
  <body>